.responsive{
display: flex;
height: auto;
width: auto;
flex-direction: column;
position: relative;

.header{
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
}


.logo{
    margin-left: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media only screen and (max-width: 768px){
        margin-left: -10px;
    }

    @media only screen and (max-width: 600px){
        margin-top: 10px;
    }
}

.logo-img{

    img{
        @media only screen and (max-width: 600px){
            width: 84px;
            height: 42px;
        }
    }
}

.logo-name{
    display: flex;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 41px;
    color: #000000;

    @media only screen and (max-width: 768px){
        
    font-size: 22px;
    line-height: 26px;
    height: 35px;
    left: -24px;
    position: relative;
    
    }

    @media only screen and (max-width: 600px){
        font-size: 22px;
    line-height: 26px;
    height: 35px;
    left: -13px;
    position: relative;
    }
    }

    }


        .signup{
            margin-right: 30px;

            @media only screen and (max-width: 768px){
                margin-right: 22px;
            }

            @media only screen and (max-width: 600px){
                margin-right: 13px;
            }


        }


       


.sec1{
    height: 696px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    

    @media only screen and (max-width: 768px){
        height: 644px;
    }

    @media only screen and (max-width: 600px){
        height: 500px;
    }

    .a {
        color: #000000;
        text-decoration: none;
        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 1.275px;
        color: #000000;
        border-bottom: #4BA87D 4px solid;
        margin-right: 10px;

        @media only screen and (max-width: 768px){
    
            font-size: 11px;
            line-height: 13px;


 
    
        }

    }

    .bg{
        display: flex;
        width: 100%;

        @media only screen and (max-width: 600px){
            display: none;
        }
    }
    
    .hero{
        position: relative;

        @media only screen and (max-width: 768px){
            display: flex;
    width: 100%;
    height: 65%;
    align-items: center;
        }

        @media only screen and (max-width: 600px){
            height: 74%;
        }
    }
    
    .hero-img{
        position: absolute;
        top: 0;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        margin-right: 6%;

        @media only screen and (max-width: 768px){
            display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 48px;
        }

        @media only screen and (max-width: 600px){
            position: absolute;
    top: -11px;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-right: 6%;
        }

        .hero-imgchild{
            @media only screen and (max-width: 768px){
                width: 63%;
                height: 74%;
            }
            img{
                @media only screen and (max-width: 768px){
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            @media only screen and (max-width: 600px){
                width: 94%;
            }
        }
    }
    
    .main-title{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 59px;
    line-height: 71px;
    color: #000000;
    margin-bottom: 25px;

    @media only screen and (max-width: 768px){
      
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 18px;
    
    }

    @media only screen and (max-width: 600px){
        font-size: 36px;
    position: relative;
    line-height: 46px;
    bottom: 21px;
    }
    }
    
    .sub-title{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 30px;

    @media only screen and (max-width: 768px){

    font-size: 12px;
    line-height: 16px;
    margin-bottom: 22px;
    
    }

    @media only screen and (max-width: 600px){
        font-size: 14px;
    line-height: 16px;
    margin-bottom: 17px;
    position: relative;
    bottom: -51px;
    }
    }
    
    .hero-bg{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @media only screen and (max-width: 600px){
            justify-content: center;
        }
    }
    

    .header{
        justify-content: center;
        align-items: center;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
   
    
    .sign{
        background: #4BA87D;
        border: none;
        padding: 12px;
        border-radius: 3px;
        cursor: pointer;
        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 1.275px;
        color: #FFFFFF;

        @media only screen and (max-width: 768px){
            padding: 7px;
            font-size: 11px;
            line-height: 13px;
        }

        @media only screen and (max-width: 600px){

            padding: 7px;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.275px;
            border-radius: 0px;
        }

        }
    
    .section-2{
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;

        @media only screen and (max-width: 600px){
            justify-content: flex-end;
        }

        .menu{
            margin-right: 20px;
    
            @media only screen and (max-width: 768px){
                margin-right: 10px;
            }

            @media only screen and (max-width: 600px){
                display: none;
                justify-content: center;
            }
        }
    }
    
   
    
    .hero-title{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        width: 40%;
        position: absolute;
        justify-content: center;
        height: 100%;
        z-index: 2;

        @media only screen and (max-width: 768px){

    margin-left: 35px;
    width: 44%;
        }

        @media only screen and (max-width: 600px){
            width: 93%;
            margin-left: 13px;
        }
    }
    
    .try{
    background: #4BA87D;
    border: none;
    padding: 17px 55px;
    cursor: pointer;
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 1.275px;
    color: #FFFFFF;


    @media only screen and (max-width: 768px){
       
    padding: 12px 38px;
    font-size: 13px;
    line-height: 15px;
    }

    @media only screen and (max-width: 600px){
        padding: 12px 15px;
    font-size: 13px;
    line-height: 15px;
    width: 137px;
    }
    }
    
    .demo{
    background: #FFFFFF;
    border: solid 2px #4BA87D;
    padding: 16px 38px;
    cursor: pointer;
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 1.275px;
    color: #4BA87D;

    @media only screen and (max-width: 768px){
    
    padding: 10px 35px;
    font-size: 13px;
    line-height: 15px;
    }

    @media only screen and (max-width: 600px){
        padding: 10px 13px;
    font-size: 13px;
    line-height: 15px;
    width: 136px;
    }
    }
    
    .hero-buttons{
        display: flex;

        @media only screen and (max-width: 600px){
            position: relative;
            top: 53px;
        }
    }
    
    .mbg{
       
    }
    
    .try-button{
        margin-right: 8%;
    }
    
}

.sec2{
    height: 544px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 768px){
       height: 377px;
    }

    .video{

        background-image: url("./assets/video.svg");
        

       

        .video-con{

            @media only screen and (max-width: 768px){

                display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .learn{
        margin-top: 15px;

        @media only screen and (max-width: 768px){
            margin-top: 4px;
            height: 100%;
        }
            }

        
                @media only screen and (max-width: 600px){
                    display: flex;
            justify-content: center;
            align-items: center;
                }
            }

        }
        
        @media only screen and (max-width: 768px){
            width: 94%;
            height: 100%;
        }
        }
    
    @media only screen and (max-width: 600px){
        height: 192px;
    }


    .learn-image{
       display: flex;
    justify-content: center;
    align-items: center;
    
    }

    .video-img{
        width: 100%;
        height: 100%;

        @media only screen and (max-width: 600px){
            width: 94%;
        }
    }


    }

   

    .learn-button{
        border: none;
        padding: 17px 55px;
        cursor: pointer;
        background: #FFFFFF;
        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 1.275px;
        color: #4BA87D;

        @media only screen and (max-width: 768px){
            font-size: 13px;
    line-height: 15px;
        }

        @media only screen and (max-width: 600px){
            font-size: 6px;
    line-height: 7px;
    padding: 7px 16px;
        }

      


        }



    .vid-title{
        font-family: Playfair Display;
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 80px;
        color: #FFFFFF;

        @media only screen and (max-width: 768px){
            font-size: 38px;
    line-height: 51px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
        }

        @media only screen and (max-width: 600px){
            font-size: 22px;
            line-height: 29px;
            position: relative;
            top: -33px;
        }
        }


.bg-container{
    overflow: hidden;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 771px;

   img {
   
   }
    @media only screen and (max-width: 768px){
        top: 404px
   
}
    }


.sec3{
    
    height: 625px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 768px){
        height: 581px;
    }

    @media only screen and (max-width: 600px){
        height: 900px;
    }

    .cards{
        display: flex;

        @media only screen and (max-width: 600px){
            display: flex;
    flex-direction: column;
        }

        .card{
            background: #FFFFFF;
            width: 320px;
            height: 449px;

            @media only screen and (max-width: 768px){
                width: 219px;
                height: 327px;
            }
          

            .ava{

                @media only screen and (max-width: 768px){
                    object-fit: cover;
                     width: 100%;
                }

            }
            @media only screen and (max-width: 768px){
                width: 195px;
                height: 298px;
            }
           
        }
        }
        
.card-con{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 600px){
        flex-direction: column;
    }
}



.content{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    display: flex;
    flex-direction: column;
    width: 251px;


    @media only screen and (max-width: 768px){
        font-size: 12PX;
        line-height: 16PX;
        width: 158px;
    }
    }


    .container{
        display: flex;
        padding-top: 12px;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: 768px){
            padding-top: 6px;
        }
    }


   



.lrn-button{
    border: none;
    cursor: pointer;
    background: transparent;
    font-family: Raleway;
    font-style: normal;
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #4BA87D;
    padding: 0;

    @media only screen and (max-width: 768px){
        font-size: 12px;
    line-height: 14px;
    }
    }

       
        
        .card2{
            margin-top: 86px;
            margin-left: 47px;

            @media only screen and (max-width: 768px){
                margin-top: 39px;
                margin-left: 27px;
            }

            @media only screen and (max-width: 600px){
                margin-top: 32px; 
                 margin-left: 54px;
            }
}


.side-title{
    width: 365px;
font-family: Playfair Display;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 48px;
color: #000000;
margin-bottom: 30px;

@media only screen and (max-width: 768px){
    font-size: 28px;
    line-height: 31px;
    width: 228px;
    margin-bottom: 18px;
}
}


.side-sb{
    width: 321px;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 26px;
color: #000000;

@media only screen and (max-width: 768px){
    width: 209px;
    font-size: 12px;
    line-height: 16px
}

}


.side-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 76px;

    @media only screen and (max-width: 768px){
        margin-left: 20px;
        margin-bottom: 18px;
    }

    @media only screen and (max-width: 600px){
        margin-left: 0;
    margin-bottom: 0;
    margin-top: 22px;
    }
}

}

.sec4{
    height: 581px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: 768px){
        height: 396px;
    }

    @media only screen and (max-width: 600px){
        height: 800px;
    }

    .case-section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

    .frankie-case{
        display: flex;
        width: 342px;
        height: 230px;
        align-items: flex-end;
        
        + .frankie-case {
            margin-left: 27px;

            @media only screen and (max-width: 768px){
                margin-left: 18px;
            }

            @media only screen and (max-width: 600px){
                margin-top: 18px;
                margin-left: 0;
            }
        }

        @media only screen and (max-width: 768px){

            width: 223px;
            height: 157px;

        }
    }

    .frankie{

        @media only screen and (max-width: 768px){
            width: 223px;
            height: 157px;
        }

    }


    .frankie-con{
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 15px;
        margin-left: 12px;

    }


    .img-con{
        height: 230px;
        width: 342px;

        @media only screen and (max-width: 768px){
            width: 100%;
            height: 100%;
        }
    }

    .name{
        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 34px;
        line-height: 40px;
        color: #FFFFFF;

        @media only screen and (max-width: 768px){
            font-size: 22px;
            line-height: 26px;
        }


        }


        .year{
            font-family: Raleway;
            font-style: normal;
            font-weight: bold;
            font-size: 19px;
            line-height: 22px;
            color: #FFFFFF;

            @media only screen and (max-width: 768px){
                font-size: 12px;
                line-height: 14px;
            }
            
            }

    .email-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .case-study{
        width: 100%;
        display: flex;
        justify-content: center;

        @media only screen and (max-width: 600px){
            flex-direction: column;
            align-items: center;
        }


    }

    .email-title{
        width: 902px;
        margin-top: 55px;

        @media only screen and (max-width: 768px){
            width: 591px;
             margin-top: 28px;
        }

        @media only screen and (max-width: 600px){
            display: flex;
            justify-content: center;
            align-items: center;
            width: 82%;
        }



    }

    input[type="text"] {
        width: 395px;
        background-color: white;
        box-sizing: border-box;
        border: 1px solid #9F9F9F;
        color: black;
        font-size: 15px;
        padding: 19px 13px;
        border-radius: 5px;
        outline: none;


        @media only screen and (max-width: 768px){
            width: 275px;
            font-size: 13px;
            padding: 16px 13px;
            height: 42px;
        }
    }

    .ct{
        font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 48px;
    text-align: center;
    color: #000000;

    @media only screen and (max-width: 768px){
        font-size: 28px;
        line-height: 36px;
    }

    @media only screen and (max-width: 600px){
        width: 93%;
    }
    }


    .email{
        display: flex;
        justify-content: center;
        margin-top: 35px;
        flex-direction: column;
        align-items: center;

        @media only screen and (max-width: 768px){
            margin-top: 16px;
        }
    }


    .email-input{
        margin-right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: 600px){
            flex-direction: column;
    justify-content: center;
    margin-right: 0;
        }
    }

    .join-button{

        @media only screen and (max-width: 768px){
            margin-left: 18px;
        }

        @media only screen and (max-width: 600px){
            width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 10px;
        }
        
    }


    .join{
        background: #4BA87D;
    border: none;
    padding: 17px 55px;
    cursor: pointer;
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 1.275px;
    color: #FFFFFF;

    @media only screen and (max-width: 768px){
        font-size: 13px;
    line-height: 15px;
    padding: 13px 23px;
    }
    }


    .info{
        width: 72%;
        margin-top: 15px;

        @media only screen and (max-width: 768px){
            width: 100%;
            margin-top: 15px;
        }

        @media only screen and (max-width: 600px){
            display: flex;
    justify-content: center;
        }


    }

    .congts{
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        letter-spacing: 1.05px;
        color: #4BA87D;

        @media only screen and (max-width: 768px){
            font-size: 13px;
            line-height: 15px;
        }
        
        }
    
    
}


.sec5{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 768px){
        height: 295px;
    }

    .brands{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .brand-title{
        width: 38%;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 48px;
    text-align: center;
    color: #000000;

    @media only screen and (max-width: 768px){
        font-size: 28px;
        line-height: 36px;
    }

    @media only screen and (max-width: 600px){
        width: 77%;
    }
    }


    .brand-logo{
        margin-top: 55px;
        justify-content: space-between;
        width: 87%;
        display: flex;

        .logos-con{
            @media only screen and (max-width: 600px){
                display: flex;
        justify-content: center;
        align-items: center;
            }
        }

        .logo-sec1{
            @media only screen and (max-width: 600px){
                display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-right: 30px;
            }
        }

        .logo-sec2{
            @media only screen and (max-width: 600px){
                display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
            }
        }

        .logo-sec3{
            display: flex;
        justify-content: center;
        margin-top: 20px;
        }

        @media only screen and (max-width: 768px){

        }

        @media only screen and (max-width: 600px){
            margin-top: 30px;
            display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        }
    }

    .knight{

        @media only screen and (max-width: 768px){
            height: 22px;
            width: 104px;
        }

    }

    .dragon{

        @media only screen and (max-width: 768px){
            width: 55px;
             height: 29px;
        }

    }

    .quest{
        @media only screen and (max-width: 768px){
            width: 94px;
            height: 31px;
        }
    }

    .radio{
        @media only screen and (max-width: 768px){
            width: 92px;
            height: 17px;
        }
    }

    .game{
        width: 91px;
        height: 15px;
    }
    


}

.sec6{
  


  .plan{
    background: #4BA87D;
    width: 100%;
    height: 366px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 768px){
        height: 251px;
    }
    
}

.plan-button{
    margin-top: 52px;

    @media only screen and (max-width: 768px){
        margin-top: 31px;
    }
    @media only screen and (max-width: 600px){
        margin-top: 36px;
    }
}


.plan-title{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    color: #FFFFFF;

    @media only screen and (max-width: 768px){
        font-size: 42px;
    line-height: 56px;
    }
    }

    .pick{
        border: none;
    padding: 17px 55px;
    cursor: pointer;
    background: #FFFFFF;
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 1.275px;
    color: #4BA87D;

    @media only screen and (max-width: 768px){
        font-size: 13px;
    line-height: 15px;
    padding: 15px 26px;
    }

    @media only screen and (max-width: 600px){
        padding: 12px 11px;
    }
    }
    

}

.sec7{
   
    display: flex;
    justify-content: center;
    align-items: center;


    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 335px;
        width: 100%;
        padding: 65px;

        @media only screen and (max-width: 768px){
            height: 257px;
        }

        @media only screen and (max-width: 600px){
            flex-direction: column;
            padding: 0;
            height: 315px;
        }
    }


    .foot-logo{
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        @media only screen and (max-width: 768px){
            display: flex;
    justify-content: center;
    position: relative;
        }

        @media only screen and (max-width: 600px){
            width: 100%;
    align-items: center;
    justify-content: flex-start;
        }
    }

    .flogo{
        @media only screen and (max-width: 768px){
            width: 100px;
            height: 50px;
        }

        @media only screen and (max-width: 768px){
            width: 90px;
            height: 40px; 
        }
    }

    .foot-name{
        display: flex;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 31px;
    color: #000000;

    @media only screen and (max-width: 768px){
        font-size: 16px;
    line-height: 19px;
    position: relative;
    height: 38px;
    left: -19px;
    align-items: center;
    }
    }

    .footer-menu{
        width: 100%;
        height: 100%;

        @media only screen and (max-width: 600px){
            width: 77%;
    height: 100%;
        }
    }

    .footer-links{
        display: flex;
        width: 100%;
        justify-content: space-evenly;

        .fmenu-sec{
            @media only screen and (max-width: 600px){
                margin-right: 30px;
            }
        }

        @media only screen and (max-width: 768px){
            display: flex;
            width: 100%;
            justify-content: flex-end;
        }

       c{
            display: flex;
    width: 100%;
    justify-content: flex-start;
        }
    }

    .sec{
        margin-right: 34px;
        display: flex;
        flex-direction: column;
        width: 123px;

        @media only screen and (max-width: 768px){
            margin-right: 25px;
            width: 75px;
        }
    }


    .l{
        color: #000000;
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 12px;

    @media only screen and (max-width: 768px){
        font-size: 12px;
    line-height: 14px;
    margin-bottom: 9px;
    }
    
    }

}

.sec8{
    


    .copyright-sec{
        display: flex;
        border-top: 1px solid #DBDBDB;
        justify-content: space-around;
        height: 100px;

        @media only screen and (max-width: 768px){
            height: 163px;
            padding-top: 40px;
        }

        @media only screen and (max-width: 600px){
            margin-left: 20px;
            padding-top: 20px;
            display: block;
        }
    }

    .copy-text{
        font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #000000;

    @media only screen and (max-width: 768px){
        font-size: 9px;
    line-height: 11px;
    }
    }

    .copyright{
        display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 768px){
        align-items: flex-start;
    }

    @media only screen and (max-width: 600px){
        width: 58%;
    margin-bottom: 20px;
    }

    
    }
    .terms-pri{
        display: flex;
        width: 35%;
        justify-content: flex-end;
        align-items: center;

        @media only screen and (max-width: 768px){
            align-items: flex-start;
        }

        @media only screen and (max-width: 600px){
            display: block;
        }
    }

    .privacy-sec{
        margin-left: 33px;
        font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #000000;

    @media only screen and (max-width: 768px){
        font-size: 9px;
    line-height: 11px;
    margin-left: 18px;
    }

    @media only screen and (max-width: 600px){
        margin-left: 0;
    }
    }


    .terms-sec{
        font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #000000;

    @media only screen and (max-width: 768px){
        font-size: 9px;
    line-height: 11px;
    }

    @media only screen and (max-width: 600px){
        margin-bottom: 18px
    }
    }
    
}



