#tv-app{
  flex-direction: column;
  display: flex;
height: auto;
width: auto;
overflow: hidden;
background-color: black;
background: linear-gradient(rgba(255, 255, 255, 0),rgb(0, 0, 0)), url("./assets/Background Image.svg");

.background-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  object-fit: cover;
  opacity: 0.8;
  }
  
  .header{
    padding-top: 10px;
    width: 95%;
      display: flex;
  }
  
  .section-2{
    margin-left: 50px;
    display: flex;
  }
  
  button{
    display: flex;
    border: none;
      background: none;
      justify-content: center;
      align-items: center;
  }
  
  .section-1{
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .brand{
    font-family: poppins;
  font-size: 30.6211px;
  line-height: 37px;
  letter-spacing: -0.714492px;
  color: #FFFFFF;
  }
  
  .browse-text{
    font-family: poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.42px;
  color: #FFFFFF;
  }
  
  .section-3{
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  
  .dropdown-img{
    margin-left: 15px;
    opacity: 0.5;
  }
  
  .head-div{
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  
  .logo{
    margin-right: 10px;
  }
  
  .poster{
    width: 27%;
  }
  
  .poster-img{
    max-width: 100%;
  }
  
  .season{
    font-family: poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.353571px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.7;
  margin-right: 30px;
  }
  
  .title{
    margin-top: 15px;
    font-family: poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: -1.68px;
  color: #FFFFFF;
  }
  
  .match{
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #FFD028;
    mix-blend-mode: normal;
  }
  
  .episode{
    font-family: poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.66;
  }
  
  .category{
    font-family: poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.66;
  margin-right: 25px;
  }
  
  .summary{
    margin-top: 15px;
    font-family: poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  }
  
  .featured{
    display: flex;
  }
  
  .discription{
    padding-top: 20px;
    width: 50%;
  }
  
  .info{
    margin-top: 15px;
    display: flex;
  }
  
  .watch{
    background: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #000000;
  }
  
  .action{
    margin-top: 15px;
    display: flex;
  }
  
  .add-text{
    font-family: poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.303333px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
  }
  
  .add{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), rgba(255, 255, 255, 0.2);
  background-blend-mode: normal, overlay;
  border-radius: 5px;
  padding: 10px 20px;
  }
  
  .add-icon{
    display: flex;
    margin-right: 5px;
  }
  
  .act-1{
    margin-right: 15px;
  }
  
  .preview{
    margin-top:20px;
    display: flex;
  }
  
  .no1{
    margin-right: 10px;
  }
  
  .no2{
    margin-right: 10px;
  }
  
  .row-title{
    
    margin-bottom: 25px;
    font-family: poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.84px;
  color: #FFFFFF;
  }
  
  .series-title{
    font-family: poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: -0.653333px;
  color: #FFFFFF;
  
  }
  
  .featured-row{
    padding-left: 35px;
    display: flex;
    flex-direction: column;
  }
  
  .series{
    overflow: auto;
    display: flex;
    flex-direction: row;
  }
  
  .coverart{
    width: 30%;
    margin-right: 8px;
  }
  
  .pic{
    width: 93%;
  }
  
  .pic-w{
    width: 100%;
    border-radius: 10px;
    border: grey;
  }

}

